@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@font-face {
	font-family: 'Futura PT Heavy';
	src: url('../fonts/futurapt-heavy.eot') format('eot'),
		 url('../fonts/futurapt-heavy.ttf') format('ttf'),
		 url('../fonts/futurapt-heavy.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


*{
	box-sizing: border-box;
}
html{font-size: 10px;}
body{
	margin: 0;
	padding: 0;
	background-color: #464f54;
	color: #000;
	font-family: Georgia, serif;
}
.article{
	width: 90%;
	margin: 140px auto 40px;
	background-color: #fff;
	padding: 200px 130px 130px 130px;
	font-size: 2.7rem;
	line-height: 1.5;
	box-shadow: 0 0 80px 10px rgba(0, 0, 0, .3)
}
.author{
	text-transform: uppercase;
	font-family: 'proxima_nova';
	font-size: 2rem;
	color: #b4b4b4;
}
.author span:not(:empty):after{
	content: ',';
}
.title{
	font-size: 7.8rem;
	line-height: 1;
	font-family:'Futura PT Heavy';
	text-transform: uppercase;
	margin: 40px 0 20px;
}
.subtitle{
	font-size: 3rem;
	color: #8f8f8f;
	font-style: italic;
}
.tools{
	width: 75%;
	position: absolute;
	right: 0;
	top: 45px;
}
.area{
	background-color: #181818;
	padding: 20px 0 45px 50px;
	box-shadow: 0 0 80px 10px rgba(0, 0, 0, .2)
}
.area label{
	text-transform: uppercase;
	font-family: 'proxima_nova';
	font-size: 1.5rem;
	color: #767676;
	letter-spacing: 2px;
}
.area input[type="text"]{
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 4.8rem;
	font-family: 'Playfair Display', serif;
	border-bottom: 2px solid rgba(255, 255, 255, .3);
	display: block;
	width: 100%;
	padding: 15px 25px 25px 0;
	transition: all .4s ease-in-out;
}
.area input[type="text"]:focus{
	outline: none;
	border-bottom-color: #f1b82b;
}
.toolbar{
	background-color: #f1b82b;
	margin-left: 50px;
	box-shadow: 0 0 80px 10px rgba(0, 0, 0, .2)
}
.toolbar ul li{
	display: inline-block;
}
.toolbar ul{
	margin: 0;
	padding: 10px 40px;
}
.toolbar ul li a{
	color: #fff;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	/* border: 1px solid red; */
	font-size: 2rem;
	transition: all .4s ease-in-out;
}
.toolbar ul li a:hover{
	text-shadow: 0 0 5px #000;
	transform: scale(1.2)

}